@import 'variables';

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.people {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    gap: $gap;
    font-family: 'Arial', sans-serif;
    width: fit-content;
    margin-top: $gap;

    @media (max-width: 750px) {
        grid-template-columns: repeat(2, auto);
        overflow-x: hidden;
    }
}

.person {
    position: relative;

    &__container {
        width: $card-width;
        border-radius: $padding;
        transition: transform 1000ms ease;
        z-index: 2;
    }

    &:hover &__container {
        position: absolute;
        transform: scale(1.1);
        z-index: 99;
    }

    &:hover img{
        border-radius: 60px;
        transition: border-radius 1000ms ease;
    }

    &:hover .extra {
        display: block;

        &::after {
            content: '';
            display: block;
            background-color: #EEEEEE;
            position: absolute;
            width: 100%;
            height: 100%;
            top: -$padding;
            left: -$padding;
            z-index: -1;
            padding: $padding;
            border-radius: $padding;
        }
    }

    &__rank {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: $gap-small;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $accent-color;
        font-size: $text-size;
        font-weight: 700;
    
        &::after {
            position: absolute;
            content: '';
            background-color: white;
            width: $number-size;
            height: $number-size;
            border-radius: 100%;
            z-index: -1;
        }
    }
}

.photo {
    position: relative;

    & img {
        max-width: 100%;
        border-radius: 100%;
    }
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px;

    &__name {
        font-size: $headline-size;
        font-weight: 700;
        color: $secondary-color;
    }

    &__extra {
        display: none;
        font-size: $subtitle-size;
        font-weight: 500;
        margin-top: $margin-small;
    }
}


