// DEFAULT SIZES

$card-width: 200px;
$number-size: 32px;

// GAPS VARIABLES

$gap: 30px;
$gap-small: 20px;
$padding: 10px;
$margin-small: 8px;

// COLORS VARIABLES

$accent-color: #8B0000;
$secondary-color: #2F4F4F;

// TEXT VARIABLES

$text-size: 1rem;
$subtitle-size: 1.125rem;
$headline-size: 1.25rem;
$headline-hover-size: 1.5rem;